.profileCard {
  max-width: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 5px;
  border-radius: 15px;

  &__avatar {
    width: 47px;
    height: 47px;
    border: 1px var(--foreground) solid;
    &--skeleton{
      border-radius: 50%;
      height: 45px;
      width: 45px;
    }
  }
  &__textBox{
    overflow: hidden;
    &--skeleton{
      display: flex;
      flex-direction: column;
      gap:3px;
      flex-grow: 1;
    }
  }
  &__displayName{
    font-size: 18px;
    line-height: 1.5;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &--skeleton{
      height: 24px;
      width: 100%;
    }
  }
  &__username{
    font-size: 14px;
    line-height: 1.5;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &--skeleton{
      height: 24px;
      width: 100%;
    }
  }

  &--skeleton{
    display: flex;
    width: 150px;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
  }
  &--outline{
    padding: 5px;
    border: 1px var(--border) solid;
    transition-duration: 50ms;

    &:hover{
      box-shadow: 0 0 10px var(--foreground);
    }
  }
}